<!-- ABOUT -->
<div class="diffSection" id="about_section">
    <center>
        <p style="font-size: 50px; padding: 100px">About</p>
    </center>
    <div class="about-content">
        <div class="side-image">
            <img class="sideImage" src="images/extra/e3.jpg">
        </div>
        <div class="side-text">
            <h2>Why learn the Sign Language?</h2>
            <p>When starting off on your exciting learning journey, prepare to get expressive! People who learn
                sign
                language often need to activate their body language and grasp that they need to use more than
                just
                their hands, but also their facial muscles and eyes, to communicate. The truth is that learning
                sign
                language enriches your cognitive processes and helps you develop higher abstract and creative
                thinking, improve your body language skills, increase problem-solving capacities, and strengthen
                your overall communication skills.</p>
        </div>
    </div>
</div>

