<!-- HISTORY -->

<section class="page-section" id="history_section">
<div class="diffSection">
    <div class="title">
        <span>
            <on>
                <h3>History on Sign Language</h3>
        </span>
        <div id="shortdesc" style= "font-size: 20px; text-align :center" >
            <p>Much like the English language, tracing the invention of sign language to a particular point in
                history is impossible. Throughout history, various forms of sign language have evolved, often
                incorporating elements of others. While we might be unable to trace back to the very start of
                sign language, two things are for certain: this form of communication has a rich and fascinating
                history and it is transformed the lives of many deaf people. The act of communicating with our
                hands has always proceeded formal language. When we're babies and children, we point and grab to
                communicate what we want. We'll shake our heads and turn away to signal when we don't want
                something. In other words, we all use a version of sign language to communicate before we know
                how to speak. Mankind was the same way. Before we developed speech the form of interaction was
                via hand and facial gestures. As the deaf were often persecuted, sign language didn't develop
                from this point until the 1500s when Pedro de Leon, a Benedictine monk, created a form of sign
                language so he could communicate during his vow of silence. In 1620, Juan Pablo Bonet developed
                this by writing a sign dictionary and alphabet. While Bonet was developing his sign language, 
                a small commune in Martha's Vineyard also came up with their own sign language. Due to the dominant 
                and recessive deaf genes carried by the people in this commune, this language was maintained 
                for many years. While there were previous attempts at creating a standard sign language, the first 
                real progress happened with Charles Michel De L'Epee, a French Priest. Inspired by a 
                desire to help his neighbour's deaf daughter, Gallaudet went to Europe to meet with Laurent Clerc, 
                a deaf instructor of sign language. Together they founded the first American school for the deaf and
                established a sign language unique to the USA. It was inspired by the French Sign Language,
                signs from Martha's Vineyard and might have been inspired by the signing system of the Great
                Plains Native Americans. Since the development of the French Sign Language and ASL, this
                language has developed across the globe. For example, the England BSL and Australian Auslan.
                This demonstrates the rich and diverse world of sign language, a method of communication perhaps
                as varied as vocal communication. </p> 
        </div>
    </div>


</div>
</section>