<div class="head-container">
    <div class="quote">
        <p>Welcome to SignSpark - The Sign Language Educational Tool</p>
        <h4>"Just learning to think in another language allows you to see your own culture in better viewpoint".
        </h4>

    </div>
    <div class="svg-image">
        <img src="images/extra/svg1.jpg" alt="svg">
    </div>
</div>
<div class="side-menu" id="side-menu">
    <div class="close" onclick="sideMenu(1)"><img src="images/icon/close.png" alt=""></div>
    <div class="user">


    </div>
<!--
    <ul>
        <li><a href="#about_section">About</a></li>
        <li><a href="#tutorials_section">Tutorials</a></li>
        <li><a href="#beginner_section">Beginner</a></li>
        <li><a href="#intermediate_section">Intermediate</a></li>
        <li><a href="#advanced_section">Advanced</a></li>
        <li><a href="#contactus_section">Contact</a></li>

    </ul>-->
</div>

<!-- Some Popular Subjects -->
<div class="title">
    <span></span>
</div>
<br><br>
<div class="course">
    <center>
        <div class="cbox">


        </div>
    </center>
    <div class="cbox">
        <div class="det"><a href="#history_section"><img src="images/courses/computer.png">HISTORY</a></div>

        <div class="det det-last"><a href="#feedback_section"><img src="images/courses/projects.png">FEEDBACK</a></div>
    </div>
</div>